<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Звёздный</title>
	<link rel="stylesheet" href="./static/css/style.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	<!--[if lt IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<container class="cont">
		<div id="wrapper">
			<header>
				<a href="/"><img src="./static/images/logo.png" alt="logo"></a>
				<form name="search" action="#" method="get">
					<input type="text" name="q" placeholder="Поиск"><button type="submit">GO</button>
				</form>
			</header>
			<nav>
				<ul class="top-menu">
					<li><a href="/">Главная</a></li>
					<li><a href="/contact">Связь с нами</a></li>
				</ul>
			</nav>
			<div id="heading">
				<h1></h1>
			</div>

		</div>

		<section class="shedule" id="shed">
				<img src={{image}} alt="Расписание" width="280" height="210">
				<h3>{{name}} {{day_of_the_week}} {{time}}</h3>
				<h2>{{count_already}}/{{count_max}} мест уже занято.</h2>
				  {% if can_write == 1 %}
			<h2><a href="/write">Записаться</a></h2>
  {% endif %}
		</section>
	</container>
</body>
	<footer>
		<div id="footer">
			<div id="footer-logo">
				<a href="/"><img src="./static/images/footer-logo.png" alt="logo"></a>
				<p>Copyright &copy; 2022 hz che pisat. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Fomin</a> corporation </p>
			</div>
		</div>
	</footer>
</html>