<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Звёздный</title>
	<link rel="stylesheet" href="./static/css/style.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	<!--[if lt IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<container class="cont">
		<div id="wrapper">
			<header>
				<a href="/"><img src="./static/images/logo.png" alt="logo"></a>
				<form name="search" action="#" method="get">
					<input type="text" name="q" placeholder="Поиск"><button type="submit">GO</button>
				</form>
			</header>
			<nav>
				<ul class="top-menu">
					<li class="active">Главная</li>
					<li><a href="/contact">Связь с нами</a></li>
				</ul>
			</nav>
			<div id="heading">
				<h1>О нас</h1>
			</div>
			<aside>
				<nav>
					<ul class="aside-menu">
						<li><a href="/ice-area">Ледовая арена</a></li>
						<li><a href="/large-pool">Большой бассейн</a></li>
						<li><a href="/gym">Тренажерный зал</a></li>
					</ul>
				</nav>
			</aside>
			<section>
				<blockquote>
					<p>
						&ldquo;Некоторые мечтают о целях, а мы их добиваемся!&rdquo;
					</p>
					<cite>Фомин Иван</cite>
				</blockquote>

				<p>Сайт для записи на занятия.</p>
				<p>.</p>

				<figure>
					<img src="./static/images/sample1.png" width="320" height="175" alt="">
				</figure>
				<figure>
					<img src="./static/images/sample2.png" width="320" height="175" alt="">
				</figure>

				<!--
				<h2>OUR TEAM</h2>
				<div class="team-row">
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>John Doe<span>ceo</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Saundra Pittsley<span>team leader</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Julio Simser<span>senior developer</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Margery Venuti<span>senior developer</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Fernando Tondrea<span>developer</span></figcaption>
					</figure>
				</div>
				<div class="team-row">
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Ericka Nobriga<span>art director</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Cody Rousselle<span>senior ui designer</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Erik Wollman<span>senior ui designer</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Dona Shoff<span>ux designer</span></figcaption>
					</figure>
					<figure>
						<img src="./static/images/sample.png" width="96" height="96" alt="">
						<figcaption>Darryl Brunton<span>ui designer</span></figcaption>
					</figure>
				</div>
				-->
			</section>
		</div>
	</container>
	<footer>
		<div id="footer">
			<div id="footer-logo">
				<a href="/"><img src="./static/images/footer-logo.png" alt="logo"></a>
				<p>Copyright &copy; 2022 hz che pisat. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Fomin</a> corporation </p>
			</div>
		</div>
	</footer>
</body>
</html>